body {
  background-image: url("http://1.bp.blogspot.com/-hrGFLyJba3U/Uh90QVFp01I/AAAAAAAAFoY/F5R7LBbTox0/s1600/Background-Picture-Html.jpg")
}

.h1 {
  color: white
}

.h3 {
  color: white
}

.h5 {
  color: white;



}

.list {

  padding-top: 20%
}
